<div [ngStyle]="{'background-image': 'url(/assets/bg.jpg)', 'background-size': 'cover','background-position': 'center', 'height': '100%'}" class="backg">
  <div class="container mt-6" style="padding-left: 50px; margin-top: 20px;">
    <ng-container *ngIf="user$ | async as user">
      <div class="form-container mat-elevation-z5 text-center coloring" style="margin-top: 185px; margin-bottom: 100px; width:50%; ">
        <h1>Your Profile</h1>
        <div class="profile-image position-relative mt-3">
          <div>{{ user.displayName }}</div>
          <button class="btn btn-warning btn-sm followers-btn" style="margin-right: 5px; background-color: #f2c79b;" (click)="openFollowersPopup()">Show Followers</button>
          <button class="btn btn-warning btn-sm following-btn" style="margin-right: 5px; background-color: #f2c79b;" (click)="openFollowingPopup()">Show Following</button>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-5" style="margin-left:50px; ">
          <div class="col" *ngFor="let recipe of recipes$ | async">
            <div class="card h-100">
              <img [src]="recipe.recipe_image" class="card-img-top" alt="Card Image">
              <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <h5 class="text-warning">Cooking Time:</h5>
                <p>{{recipe.recipe_cookingTime}}</p>
                <h5 class="text-warning">Cusine</h5>
                <p>{{recipe.recipe_cuisine}}</p>
               <button (click)="showRecipeDetails(recipe.recipe_id)" type="button" class="btn btn-warning" style="margin-right:5px;"><a>Show More</a></button>
               <a *ngIf="user.uid === currentUserUid" (click)="deleteRecipe(recipe.recipe_id)" class="btn btn-warning btn-sm position-absolute bottom-0 end-0">
                <i class="fas fa-trash-alt"></i>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  </div>
